<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}

    <p>Welcome, {{ user.email }}</p>

    <!-- Content only visible to logged-in users -->
    {%for t in task%}
        
        <p>{{t}}</p>
        
    {%endfor%}
    

{% else %}

    <p>Please login to access this content.</p>

    <!-- Link to login page or similar message -->

{% endif %}

</body>
</html>